<link rel="stylesheet" href="/css/table.css">
<div class="container-fluid mb-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex flex-row align-items-center">
            <h3>Products</h3>
            <p class="total-mark mt-0 mb-1 ms-2 px-3">{{ total }}</p>
        </div>
        <div class="d-flex flex-row">
            <a class="btn btn-outline-info d-flex align-items-center me-4"
                href="/admin/product/create-new">
                <i class="fa-solid fa-plus pe-2"></i>
                <span>Create</span>
            </a>
            <div id="filter-btn" class="btn btn-outline-info d-flex align-items-center me-4" data-bs-toggle="collapse"
                href="#collapseFilter" role="button" aria-expanded="false">
                <i class="fa-solid fa-filter pe-2"></i>
                <span>Filter</span>
            </div>
        </div>
    </div>
    <div class="collapse p-0 mt-1" class="collapse" id="collapseFilter">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <select id="filter-category" class="form-select" aria-label="Default select example">
                    <option {{#unless queryObj.category }} selected {{/unless}}>Select category</option>
                    {{#each categories}}
                    <option value="{{this.id}}" {{#eq this.id queryObj.category }} selected {{/eq}}>
                        {{this.name}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="name-addon">Name</span>
                    <input type="text" id="filter-name" class="form-control" value="{{ queryObj.name }}"
                        aria-label="Name" aria-describedby="name-addon">
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="input-group">
                    <span class="input-group-text" id="quantityFrom-addon">Quantity from</span>
                    <input type="number" id="filter-quantityFrom" class="form-control" value="{{ queryObj.quantityFrom }}" 
                        aria-describedby="quantityFrom-addon" aria-label="quantityFrom">
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="quantityTo-addon">Quantity to</span>
                    <input type="number" id="filter-quantityTo" class="form-control" value="{{ queryObj.quantityTo }}"
                        aria-describedby="quantityTo-addon" aria-label="quantityTo">
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="input-group">
                    <span class="input-group-text" id="priceFrom-addon">Price (VND) from:</span>
                    <input type="number" id="filter-priceFrom" class="form-control" value="{{ queryObj.priceFrom }}"
                        aria-describedby="priceFrom-addon" aria-label="priceFrom">
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="priceTo-addon">Price (VND) to:</span>
                    <input type="number" id="filter-priceTo" class="form-control" value="{{ queryObj.priceTo }}"
                        aria-describedby="priceTo-addon" aria-label="priceTo">
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <span>Number of rows:</span>
                <select id="filter-numrows" class="form-select form-select-sm">
                    <option value="5" {{#eq queryObj.size "5" }} selected {{/eq}}>5</option>
                    <option value="10" {{#unless queryObj.size}} selected {{/unless}} {{#eq queryObj.size "10" }}
                        selected {{/eq}}>10</option>
                    <option value="20" {{#eq queryObj.size "20" }} selected {{/eq}}>20</option>
                    <option value="50" {{#eq queryObj.size "50" }} selected {{/eq}}>50</option>
                </select>
            </div>
            <div class="col-2">
                <span>Sort by:</span>
                <select id="filter-sortBy" class="form-select form-select-sm">
                    <option value="id" {{#unless queryObj.sortBy }} selected {{/unless}} {{#eq queryObj.sortBy "id" }}
                        selected {{/eq}}>ID</option>
                    <option value="username" {{#eq queryObj.sortBy "name" }} selected {{/eq}}>Name</option>
                    <option value="fullname" {{#eq queryObj.sortBy "price" }} selected {{/eq}}>Price</option>
                    <option value="quantity" {{#eq queryObj.sortBy "quantity" }} selected {{/eq}}>Quantity</option>
                    <option value="updatedAt" {{#eq queryObj.sortBy "updatedAt" }} selected {{/eq}}>UpdatedAt</option>
                </select>
            </div>
            <div class="col-2">
                <span>Sort type:</span>
                <select id="filter-sortDir" class="form-select form-select-sm">
                    <option value="asc" {{#unless queryObj.sortDir }} selected {{/unless}} {{#eq queryObj.sortDir "asc"
                        }} selected {{/eq}}>ASC</option>
                    <option value="desc" {{#eq queryObj.sortDir "desc" }} selected {{/eq}}>DESC</option>
                </select>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="input-group mt-3">
                    <span class="input-group-text" id="createdAtFrom-addon">Created from:</span>
                    <input type="date" id="filter-createdAtFrom" class="form-control" value="{{ queryObj.createdAtFrom }}" aria-describedby="createdAtFrom-addon">
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="createdAtTo-addon">Created to:</span>
                    <input type="date" id="filter-createdAtTo" class="form-control" value="{{ queryObj.createdAtTo }}" aria-describedby="createdAtTo-addon">
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="input-group mt-3">
                    <span class="input-group-text" id="updatedAtFrom-addon">Updated from:</span>
                    <input type="date" id="filter-updatedAtFrom" class="form-control" value="{{ queryObj.updatedAtFrom }}" aria-describedby="updatedAtFrom-addon">
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="updatedAtTo-addon">Updated to:</span>
                    <input type="date" id="filter-updatedAtTo" class="form-control" value="{{ queryObj.updatedAtTo }}" aria-describedby="updatedAtTo-addon">
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-end">
                <button id="filter-reset-btn" class="btn" type="button">
                    Reset
                </button>
            </div>
            <div class="col d-flex justify-content-start align-items-center">
                <button id="filter-apply-btn" class="btn" type="button">
                    Apply
                </button>
            </div>
        </div>

    </div>
    <form name="table-container" method="post" action="/admin/product/multi-action">
        <div class="multiselect-row row mt-2 mx-1 py-2 border-radius-md d-flex flex-row invisible">
            <span class="col-2 multiselect-text">Selected</span>
            <button id="multiselect-delete-btn" class="col-2 btn-sm btn-multiselect-row ms-2 p-0" data-bs-toggle="modal"
                data-bs-target="#deleteModal">
                <i class="fa-regular fa-trash-can pe-2"></i>
                Delete
            </button>
        </div>
        <input type="hidden" name="action">
        <div class="card">
            <div class="card-body px-0 py-2">
                <div class="table-responsive">
                    <table id="data-table" class="table table-hover" page="{{ page }}" total="{{ total }}"  size="{{ queryObj.size }}" urlParams="{{ urlParams }}">
                        <thead>
                            <tr>
                                <th class="px-2 font-weight-bolder">
                                    <div class="d-flex flex-row">
                                        <div class="form-check px-4">
                                            <input class="form-check-input select-all" name="select-all"
                                                type="checkbox">
                                        </div>
                                        <span>ID</span>
                                    </div>
                                </th>
                                <th class="px-6 font-weight-bolder">Name</th>
                                <th class="px-2 font-weight-bolder">Category</th>
                                <th class="px-2 font-weight-border">Price</th>
                                <th class="px-2 font-weight-bolder">Updated At</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">
                            {{#each products}}
                            <tr>
                                <td class="align-middle">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="form-check px-4">
                                            <input class="form-check-input select-item" name="selectedItems[]"
                                                type="checkbox" value="{{this.id}}">
                                        </div>
                                        <span>{{this.id}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="align-middle d-flex flex-row align-items-center">
                                        <div>
                                            <img {{#if this.mainImage}} src="{{this.mainImage.url}}" {{else}}
                                                src="/img/no-image-icon.png" {{/if}} class="avatar me-3" alt="product{{this.id}}">
                                        </div>
                                        <span>{{this.name}}</span>
                                    </div>
                                </td>
                                <td class="align-middle">{{this.categoryName}}</td>
                                <td class="align-middle">{{this.price}}</td>
                                <td class="align-middle">{{this.formattedUpdatedAt}}</td>
                                <td class="align-middle">
                                    <button
                                        class="btn btn-outline-info d-flex align-items-center justify-content-center"
                                        type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithInformation{{ this.id }}" 
                                        aria-controls="offcanvasWithInformation" product-id="{{ this.id }}" product-name="{{ this.name }}">
                                        <i class="fa-regular fa-eye pe-2"></i>
                                        Show
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Product pagination">
                    <ul class="pagination justify-content-center custom-pagination mt-2" id="user-pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </form>

    {{#each products}}
    {{!-- Offcanvas for details --}}
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithInformation{{ this.id }}"
        aria-labelledby="offcanvasWithInformationLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithInformationLabel">
                Product details
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <button id="offcanvas-delete-btn"
                class="col-4 btn btn-outline-danger d-flex align-items-center justify-content-center mt-2"
                data-bs-toggle="modal" data-bs-target="#deleteModal">
                <i class="fa-regular fa-trash-can pe-2"></i>
                <span>Delete</span>
            </button>
            <a id="offcanvas-edit-btn" href="/product/edit/{{ this.id }}"
                class="col-4 btn btn-outline-success d-flex align-items-center justify-content-center mt-2">
                <i class="fa-regular fa-pen-to-square pe-2"></i>
                <span>Edit</span>
            </a>
            <img class="detail-image enlarge-image image-has-modal" src="{{ this.mainImage.url }}" alt="product">
            <div class="list-image">
                <p class="detail-info-item-title">Images</p>
                {{#each this.images}}
                <img class="detail-info-image mx-1 mt-1 enlarge-image image-has-modal" src="{{ this.url }}"
                    alt="product-image{{@index}}">
                {{/each}}
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">ID</p>
                <p class="detail-info-item-content">{{ this.id }}</p>
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">Name</p>
                <p class="detail-info-item-content">{{ this.name }}</p>
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">Category</p>
                <p class="detail-info-item-content">
                    <a href="{{ this.categoryUrl }}">{{ this.categoryName }}</a>
                </p>
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">Quantity</p>
                <p class="detail-info-item-content">{{ this.quantity }}</p>
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">Price</p>
                <p class="detail-info-item-content">{{ this.price }}</p>
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">Description</p>
                <p class="detail-info-item-content w-100">{{ this.description }}</p>
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">Created at</p>
                <p class="detail-info-item-content">{{ this.formattedCreatedAt}}</p>
            </div>
            <div class="detail-info-item">
                <p class="detail-info-item-title">Updated at</p>
                <p class="detail-info-item-content">{{ this.formattedUpdatedAt }}</p>
            </div>
        </div>
    </div>
    {{/each}}

    {{!-- Modal for delete --}}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <button id="modal-delete-btn" type="button" class="btn bg-gradient-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

<form id="single-item-action" method="post">
    <input type="hidden" name="action">
</form>

<script src="/js/table.js"></script>
<script>
    $(() => {
        // pagination
        const table = $('#data-table');
        const page = parseInt(table.attr('page'));
        const total = parseInt(table.attr('total'));
        const size = parseInt(table.attr('size'));
        const urlParams = table.attr('urlParams');
        if (urlParams) {
            $('#filter-btn').removeClass('collapsed');
            $('#filter-btn').attr('aria-expanded', 'true');
            $('#collapseFilter').addClass('show');
        }

        $('#user-pagination').html(renderPagination(page, total, size, 'product', urlParams));

        // breadcrumbs
        const breadcrumbs = $('.breadcrumb');
        let breadcrumbContent = `
            <li class="breadcrumb-item text-sm"><a class="text-dark" href="/"><span class="breadcrumb-text">Dashboard</span></a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Products</li>
        `;
        breadcrumbs.html(breadcrumbContent);

        // multi select
        const tableContainerForm = $('form[name="table-container"]');
        const selectAll = $('.select-all');
        const selectItems = $('input[name="selectedItems[]"]');
        const deleteBtn = $('#multiselect-delete-btn');

        function renderBtnMultiSelectSubmit() {
            const multiselectRow = $('.multiselect-row');
            const numOfSelected = $('input[name="selectedItems[]"]:checked').length;
            if (numOfSelected > 0) {
                multiselectRow.removeClass('invisible');
                $('.multiselect-text').html(`Selected (${numOfSelected})`);
            } else {
                multiselectRow.addClass('invisible');
            }
        }
        selectAll.change(() => {
            selectItems.prop('checked', selectAll.prop('checked'));
            renderBtnMultiSelectSubmit();
        });
        selectItems.change(() => {
            selectAll.prop('checked', selectItems.length === $('input[name="selectedItems[]"]:checked').length);
            renderBtnMultiSelectSubmit();
        });
        deleteBtn.click((e) => {
            e.preventDefault();
            tableContainerForm.find('input[name="action"]').val('delete');
        });

        // offcanvas
        const singleItemForm = $('#single-item-action');
        let productId, productName;
        $('.offcanvas').on('show.bs.offcanvas', e => {
            const button = $(e.relatedTarget);
            productId = button.attr('product-id');
            productName = button.attr('product-name');
            
            $('#offcanvas-edit-btn').click(() => {
                window.location.href = `/product/edit/${productId}`;
            });
        })

        // filter
        $('#filter-reset-btn').click(() => {
            $('#filter-name').val('');
            $('#filter-quantityFrom').val('');
            $('#filter-quantityTo').val('');
            $('#filter-priceFrom').val('');
            $('#filter-priceTo').val('');
            $('#filter-createdAtFrom').val('');
            $('#filter-createdAtTo').val('');
            $('#filter-updatedAtFrom').val('');
            $('#filter-updatedAtTo').val('');
            $('#filter-numrows').val('10');
            $('#filter-sortBy').val('id');
            $('#filter-sortDir').val('asc');
        });
        $('#filter-apply-btn').click(() => {
            const name_f = $('#filter-name').val();
            const quantityFrom_f = $('#filter-quantityFrom').val();
            const quantityTo_f = $('#filter-quantityTo').val();
            const priceFrom_f = $('#filter-priceFrom').val();
            const priceTo_f = $('#filter-priceTo').val();
            const createdAtFrom_f = $('#filter-createdAtFrom').val();
            const createdAtTo_f = $('#filter-createdAtTo').val();
            const updatedAtFrom_f = $('#filter-updatedAtFrom').val();
            const updatedAtTo_f = $('#filter-updatedAtTo').val();
            const size_f = $('#filter-numrows').val();
            const sortBy_f = $('#filter-sortBy').val();
            const sortDir_f = $('#filter-sortDir').val();

            let urlParams = '';
            if (size_f && size_f !== '10') {
                urlParams += `&size=${size_f}`;
            }
            if (sortBy_f && sortBy_f !== 'id') {
                urlParams += `&sortBy=${sortBy_f}`;
            }
            if (sortDir_f && sortDir_f !== 'asc') {
                urlParams += `&sortDir=${sortDir_f}`;
            }
            if (name_f) {
                urlParams += `&name=${name_f}`;
            }
            if (quantityFrom_f) {
                urlParams += `&quantityFrom=${quantityFrom_f}`;
            }
            if (quantityTo_f) {
                urlParams += `&quantityTo=${quantityTo_f}`;
            }
            if (priceFrom_f) {
                urlParams += `&priceFrom=${priceFrom_f}`;
            }
            if (priceTo_f) {
                urlParams += `&priceTo=${priceTo_f}`;
            }
            if (createdAtFrom_f) {
                urlParams += `&createdAtFrom=${createdAtFrom_f}`;
            }
            if (createdAtTo_f) {
                urlParams += `&createdAtTo=${createdAtTo_f}`;
            }
            if (updatedAtFrom_f) {
                urlParams += `&updatedAtFrom=${updatedAtFrom_f}`;
            }
            if (updatedAtTo_f) {
                urlParams += `&updatedAtTo=${updatedAtTo_f}`;
            }

            window.location.href = `/product?${urlParams}`;
        })

        // modals
        const deleteModal = $('#deleteModal');
        deleteModal.on('show.bs.modal', e => {
            const button = $(e.relatedTarget);
            const modalDeleteBtn = $('#modal-delete-btn');
            const modalTitle = deleteModal.find('.modal-title');
            const modalBody = deleteModal.find('.modal-body');

            if (button.attr('id') === 'offcanvas-delete-btn') {
                modalTitle.html('Delete product');
                modalBody.html(`Are you sure you want to delete this product <b>${productName}</b>? The images attached to these product will also be deleted. This action cannot be undone.`);
                modalDeleteBtn.click(() => {
                    singleItemForm.attr('action', `/product/${productId}`);
                    singleItemForm.find('input[name="action"]').val('delete');
                    singleItemForm.submit();
                });
            } else if (button.attr('id') === 'multiselect-delete-btn') {
                const selectedItems = $('input[name="selectedItems[]"]:checked');
                const selectedItemsIds = selectedItems.map((i, item) => {
                    return $(item).val();
                }).get();
                modalTitle.html('Delete products');
                modalBody.html(`Are you sure you want to delete these products with ids: <b>${selectedItemsIds.join(', ')}</b>? The images attached to these product will also be deleted. This action cannot be undone.`);
                modalDeleteBtn.click(() => {
                    tableContainerForm.find('input[name="action"]').val('delete');
                    tableContainerForm.submit();
                });
            }
        })
    });
</script>